@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,900');

$purple: #2f2365;

$spaceDefault: 24px;
$spaceDouble: floor($spaceDefault * 2);
$spaceHalf: floor($spaceDefault/2);
$spaceQuarter: floor($spaceHalf/2);

@import "modules/main";